<%
  // 文章详情分页 上一篇/下一篇
  if (post.prev || post.next){ 
%>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a 
      id="article-nav-newer"
      class="article-nav-link-wrap" 
      href="<%- url_for(post.prev.path) %>" 
      title="<%= post.prev.title || '(no title)' %>" 
      alt="<%= post.prev.title || '(no title)' %>"
    >
      <strong class="article-nav-caption"><%= __('newer') %></strong>
      <div class="article-nav-title"><%= post.prev.title || '(no title)' %></div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a 
      id="article-nav-older"
      class="article-nav-link-wrap" 
      href="<%- url_for(post.next.path) %>" 
      title="<%= post.next.title || '(no title)' %>" 
      alt="<%= post.next.title || '(no title)' %>"
    >
      <strong class="article-nav-caption"><%= __('older') %></strong>
      <div class="article-nav-title"><%= post.next.title || '(no title)' %></div>
    </a>
  <% } %>
</nav>
<% } %>