<!-- 页尾 page foot -->
<footer id="footer">
  <!-- licensed -->
  <p>
    <%- __('licensed','<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>') %>
  </p>
  <!-- copyright -->
  <p>
    &copy;<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    <%- __('powered_by','<a href="http://hexo.io/" target="_blank">Hexo</a>') %>
    
  </p>
  <br />
  <!-- go top -->
  <a id="gotop" class="fa fa-level-up"></a>
</footer>
<%- js('js/common')%>