<!-- 头部信息 head&meta -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <%
  var title= page.title;
  if (is_archive()){
    if (is_month()){
      title= page.year + '.' + page.month;
    } else if (is_year()){
      title= page.year;
    }
    } else if (is_category()){
      title= page.category;
    } else if (is_tag()){
      title= page.tag;
    } else if (is_page()){
      if( page.title=='about'){
      title= '我';
    }
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="keywords" content="<%= config.keywords %>" />
  <meta name="description" content="<%= config.description %>" />
  <meta name="author" content="<%= config.author %>" />
  <% if (theme.favicon){ %><link rel="icon" href="/favicon.ico" /><% } %>
  <%- css('css/style') %>
  <%- css('https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css') %>
</head>
