<% if (site.posts.length){ %>
<!-- 最近发布 recent posts -->
  <section class="widget-wrap shadow">
    <h3 class="widget-title"><%= __('recent_posts') %></h3>
    <div class="widget">
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a 
              href="<%- url_for(post.path) %>" 
              title="<%= post.title || '(no title)' %>" 
              alt="<%= post.title || '(no title)' %>"
            >
              <%= post.title || '(no title)' %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
<% } %>